.Enter-Button-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Enter-Game-Button {
    color: aliceblue;
    background-color:rgb(17, 16, 50);
    padding: 1.2rem 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    border-width: 0;
    border-radius: 0.36rem;
}

@media (max-width: 767px) {
    .Enter-Game-Button {
        padding: 0.9rem 3rem;
      font-size: 1.125rem;
      border-width: 0;
      border-radius: 0.27rem;
    }
  }

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.Enter-Game-Button::after, .Enter-Game-Button::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 10%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 0.36rem;
    animation: 3s spin linear infinite;
}

.Enter-Game-Button::before {
    filter: blur(1rem);
    opacity: 0.6;
}

/* .Enter-Game-Button:hover::after, 
.Enter-Game-Button:hover::before {
    animation-direction: reverse;
} */

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}